<div class="container flex flex-col justify-center items-center w-1/2">
    <p class="w-3/4 text-center">Select a Collection from the sidebar to view it, or click "New Collection" to create a new one.</p>
</div>
