<% collection ||= @collection %>
<div id="search_form">
  <%= form_with url: collection_search_path(collection) do |f| %>
    <div class="container flex flex-1">
      <% 
        if collection.documents.reload.any? { |doc| doc.embedded? }
          placeholder = "Search your documents..."
          disabled = false
        else
          placeholder = "No indexed documents to search. Add a document below."
          disabled = true
        end
      %>
      <%= f.text_area :query,
        placeholder:,
        class: "rounded-md dark:bg-secondary-800 w-full flex-1",
        disabled:,
        hidden: false,
        value: query,
        data: { controller: "submit", "submit-target": "input" }
      %>
      <div class="flex">
        <div>
          <%= link_to "Clear", collection_path(collection), class: "rounded-lg px-4 py-1 text-center text-white align-baseline dark:text-secondary-950 block font-medium bg-secondary-700 dark:bg-secondary-400 ml-2" %>
        </div>
        <div>
          <%= f.submit "Search", class: "rounded-lg px-4 py-1 text-center text-white dark:text-secondary-950 block font-medium bg-tertiary-700 dark:bg-tertiary-400 ml-2", disabled: %>
        </div>
      </div>
    </div>
  <% end %>
</div>
