<%= form_with url: conversation_messages_path(@conversation), html: { id: "message_form", class: "mt-3 w-full" } do |f| %>
  <div class="container flex">
    <div class="flex-1 pr-3">
      <%= f.text_field :content,
        class: "form-control w-full rounded-lg dark:bg-secondary-800",
        placeholder: "write a message",
        autofocus: true,
        data: { controller: "submit", "submit-target": "input" },
        autocomplete: "off"
      %>
    </div>
    <div>
      <%= f.submit "Send", class: "rounded-lg px-2 py-1 text-center text-white dark:text-secondary-950 block font-medium bg-primary-700 dark:bg-primary-500" %>
    </div>
  </div>
<% end %>
