<div class="flex flex-col items-center justify-center px-20 py-5 bg-gray-100 rounded-md shadow-lg border-1">
  <%= content_tag :div, id: dom_id(message) do %>
    <p><%= message.content %></p>
    <p class="text-sm text-muted"><%= message.user.email %></p>
  <% end %>
</div>
