<div class="flex justify-end w-full">
  <div class="px-4 text-xs text-right rounded-lg bg-secondary-200 dark:bg-secondary-800">
    elapsed: <%= stats[:elapsed_ms] %>ms |
    tokens: <%= stats[:tokens] %>ms |
    tokens/s: <%= stats[:tokens_per_sec] %>ms |
    time to first token: <%= stats[:time_to_first_token] %>s
  </div>
</div>
