<div class="flex w-full justify-end">
  <div class="text-xs text-muted bg-secondary-200 dark:bg-secondary-800 text-right rounded-lg px-4">
    elapsed: <%= stats[:elapsed_ms] %>ms |
    tokens: <%= stats[:tokens] %>ms |
    tokens/s: <%= stats[:tokens_per_sec] %>ms
  </div>
</div>
