version: "3.5"
services:
  redis:
    image: redis:alpine
    volumes:
      - "redis:/data"
  postgres:
    image: postgres:16-alpine
    volumes:
      - "postgres:/var/lib/postgresql/data"
    environment:
      POSTGRES_USER: archyve
      POSTGRES_PASSWORD: password
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U archyve"]
      interval: 5s
      timeout: 5s
      retries: 5
  chromadb:
    image: chromadb/chroma:latest
    volumes:
      - chromadb:/chroma/chroma
    command: "--workers 1 --host 0.0.0.0 --port 8000 --proxy-headers --log-config chromadb/log_config.yml --timeout-keep-alive 30"
    environment:
      - IS_PERSISTENT=TRUE
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8000/api/v1/heartbeat" ]
      interval: 30s
      timeout: 10s
      retries: 3
  archyve:
    image: archyve:local
    build: .
    env_file: ./local.env
    volumes:
      - archyve_files:/rails/storage
    extra_hosts:
      - "host.docker.internal:host-gateway"
    ports:
      - 3300:3000
    depends_on:
      - redis
      - postgres
  archyve-worker:
    image: archyve:local
    env_file: ./local.env
    volumes:
      - archyve_files:/rails/storage
    extra_hosts:
    - "host.docker.internal:host-gateway"
    command: bundle exec sidekiq
    depends_on:
      - redis
      - postgres

volumes:
  redis:
  postgres:
  chromadb:
  archyve_files:
