<div id="conversation">
  <div class="flex">
    <div class="flex-1 pb-5">
      <%= render "conversation_form" %>
    </div>
  </div>

  <div class="container flex flex-col items-center rounded-lg flex-start">
    <div class="w-3/4">
      <div id="messages">
        <%= render @conversation.messages.order(:created_at) %>
      </div>

      <%= render "messages/form" %>
    </div>
  </div>
</div>
