<div id="conversation">
  <div class="flex flex-col items-center">
    <div class="flex flex-col items-center px-4 w-[450px] sm:w-full md:w-full lg:w-[768px] xl:w-[900px]">
      <div class="pb-5 w-full">
        <%= render "conversation_form" %>
      </div>

      <div class="flex flex-col rounded-lg w-full">
        <div id="messages">
          <%= render @conversation.messages.order(:created_at) %>
        </div>

        <div class="w-full">
          <%= render "messages/form" %>
        </div>

        <div id="end-of-conversation">
      </div>
    </div>
  </div>
</div>
