<div id="conversation">
  <div class="flex flex-col items-center">
    <div class="w-3/4 flex flex-col items-center">
      <div class="flex-1 pb-5">
        <%= render "conversation_form" %>
      </div>

    <div class="container flex flex-col items-center rounded-lg flex-start">
        <div id="messages">
          <%= render @conversation.messages.order(:created_at) %>
        </div>

        <div class="py-5 w-full">
          <%= render "messages/form" %>
        </div>

        <div id="end-of-conversation">
    </div>
    </div>
  </div>
</div>
