<div class="container flex flex-col justify-center items-center w-1/2">
    <div class="w-3/4 text-center">Select a Conversation from the sidebar to view it, or click "New Conversation" to create a new one.</div>
</div>
