<div class="container flex justify-center align-center items-center w-full h-full">
  <div class="container flex flex-col w-1/2 justify-center items-center">
    <%= image_tag "conan_ready.svg" %>
    <div class="text-4xl font-bold">Conan</div>
    <div class="text-xl font-bold">the Librarian</div>
  </div>
</div>
