<div class="container flex flex-col justify-center items-center w-1/2">
  <p>You have no conversations yet.</p>
  <p class="text-sm">Start a conversation by clicking the button in the top left.</p>
</div>
