<div class="container flex flex-col justify-center items-center w-1/2">
  <%= image_tag "archyve_font.svg", alt: "Archyve Logo.svg", width: 200, class: "pb-10 opacity-75" %>
  <p>You have no conversations yet.</p>
  <p class="text-sm">Start a conversation by clicking the button in the top left.</p>
</div>
