<div class="w-full">
  <%= link_to "Documents", "/collections", class: "rounded-lg py-1 px-3 my-1 text-center text-secondary-900 block font-medium border border-tertiary-600 dark:text-secondary-100 dark:border-tertiary-400 hover:bg-secondary-100 hover:dark:bg-secondary-800", data: { turbo: false } %>
</div>
<div class="w-full">
  <%= link_to "Chat", "/conversations", class: "rounded-lg py-1 px-3 my-1 text-center text-primary-900 block font-medium border border-primary-700 dark:text-secondary-100 dark:border-primary-400 hover:bg-secondary-100 hover:dark:bg-secondary-800", data: { turbo: false } %>
</div>
