<div data-controller="clipboard" data-clipboard-success-content-value="Copied!">
  <input readonly type="hidden" value="<%= content %>" data-clipboard-target="source">

  <button type="button" data-action="clipboard#copy" data-clipboard-target="button"><i class="fa fa-copy" title="Copy message text"></i></button>
</div>
