<% if @missing_models.present? %>
  <div class="mx-12">
    <div class="rounded-lg m-2 text-center bg-warning-500 dark:bg-warning-900">
      <div class="">
        <p>
          There are no models configured for some roles: <span class="font-bold"><%= @missing_models.join(", ") %></span>.
          Please select models to use for these roles on <%= link_to "the Settings page", settings_path, class: "font-bold hover:underline" %>.
        </p>
      </div>
    </div>
  </div>
<% end %>