<div id="<%= user_dom_id("notice") %>" class="flex justify-center align-center fixed">
  <% if notice %>
    <p class="text-sm notice opacity-0 text-secondary-600 dark:text-secondary-400 animate-fade"><%= notice %></p>
  <% elsif alert %>
    <p class="text-sm alert text-tertiary-700"><%= alert %></p>
  <% end %>
</div>
