<div id="<%= user_dom_id("notice") %>" class="flex justify-center align-center fixed">
  <% if notice %>
    <p class="text-sm notice text-secondary-500"><%= notice %></p>
  <% elsif alert %>
    <p class="text-sm alert text-tertiary-700"><%= alert %></p>
  <% end %>
</div>
