<div class="w-full">
  <%= button_to "Sign out",
    destroy_user_session_path,
    method: :delete,
    class: "rounded-lg py-2 px-3 my-1 text-center text-secondary-900 dark:text-secondary-100 block font-medium w-full hover:bg-secondary-100 hover:dark:bg-secondary-800"
  %>
</div>
