<% classes ||= "text-tertiary-600 dark:text-tertiary-400" %>

<div class="flex pb-2 w-full font-mono text-2xl font-bold text-center lg:justify-center">
  <div class="lg:hidden pr-2">
    <i class="fa fa-bars"></i>
  </div>
  <%= link_to "ARCHYVE", root_path, class: classes %>
</div>
