<% setting_model = Setting.find_by(key: setting) %>

<%= form_for setting_model do |f| %>
  <div class="py-4 items-center flex">
    <%= f.label setting.titleize, class: "pr-4" %>
    <div class="flex-1"></div>
    <%= f.collection_select(:value, list, :id, :name, {}, {
      class: "rounded-lg text-secondary-800 bg-secondary-200 dark:text-secondary-200 dark:bg-secondary-800",
      onchange: "this.form.submit()"
    })%>
  </div>
<% end %>
