<% model_server ||= @model_server %>

<div id="settings_model_servers">
  <div class="grid grid-cols-11 auto-cols-auto gap-4">
    <%= render "settings/server", server: nil %>
    <% ModelServer.available.order(:id).each do |server| %>
      <%= render "settings/server", server: %>
    <% end %>
  </div>
  <div class="flex w-full">
    <div class="flex flex-col items-center pt-8 w-full">
      <hr class="pt-8 w-3/4 border-secondary-200 dark:border-secondary-600">
      <%= render "settings/server_form", model_server: %>
    </div>
  </div>
</div>
