<% setting_model = Setting.find_by(key: setting) %>

<%= form_for setting_model do |f| %>
  <div class="py-4 items-center flex">
    <%= f.label setting.titleize, class: "pr-4" %>
    <div class="flex-1"></div>
    <%= f.number_field(
      :value,
      class: "rounded-md bg-secondary-200 dark:bg-secondary-800 mx-1",
      value: setting_model.value,
      onchange: "this.form.requestSubmit()",
      step:,
      min: step
    )%>
  </div>
<% end %>
