<% setting_model = Setting.ensure_exists(setting) %>
<% help_text ||= nil %>

<%= form_for setting_model do |f| %>
  <div class="py-4 flex-col">
    <div class="items-center flex">
      <%= f.text_area(
        :value,
        rows: 8,
        class: "form-control w-full rounded-lg bg-secondary-200 dark:bg-secondary-800",
        value: setting_model.value,
        onchange: "this.form.requestSubmit()"
      )%>
    </div>
    <% if help_text.present? %>
      <div class="text-sm text-secondary-400 dark:text-secondary-500 pb-1 whitespace-pre-line">
        <div><%= help_text %></div>
      </div>
    <% end %>
  </div>
<% end %>