@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply px-4 py-2 bg-blue-200;
  }
}

*/
@import 'actiontext.css';

pre {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

p {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@layer base {
  ul, ol {
    list-style: revert;
  }
}

li {
  padding-bottom: 1rem;
  margin-left: 1rem;
}

html {
  font-size: 15px;
}
